.donation_container{
          $primary_color:#fa7806;
          $secondar_color:#D0AA61;
          background-color:  $primary_color;
          width: 100%;
          padding: 50px;
          display: flex;
          justify-content: center;
          .content{
                p{
                          color:white;
                        //   text-align: center;
                          letter-spacing: 1px;
                          font-weight: 500;
                }    
                .donate_link{
                          background-color:white;
                          padding: 20px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          margin: 15px auto;
                          text-decoration: none;
                          color: #fa7806;
                          font-size: 30px;
                          font-weight: bold;
                          letter-spacing: 2px;
                          text-transform: uppercase;
                          box-shadow:0 2px 7px rgba(0,0,0,0.3);
                          border-radius:10px ;
                          -webkit-border-radius:10px ;
                          -moz-border-radius:10px ;
                          -ms-border-radius:10px ;
                          -o-border-radius:10px ;
}
          }
}
@media only screen and (max-width: 767.98px){
  .donation_container{
    padding: 40px 30px 20px 30px;
    .content{
            
          .donate_link{
                   
                    padding: 15px;
                    font-size: 20px;
                    letter-spacing: 1px;
}
    }
}
}