.loader {
    margin: 5px auto;
     align-items: center;
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #3498db;
     width:100px;
     height:100px;
     -webkit-animation: spin 1s linear infinite; /* Safari */
     animation: spin 2s linear infinite;

   }
   
   @keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
   }
.modalContainer{
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10000000;

          .modalContent{
                    background-color: white;
                    width: 50%;
                    margin: auto;
                    z-index: 10000000000;
                    .modalHeader{
                              position: relative;
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              padding: 10px 30px;
                              h1{
                                        font-size: 1.4em;
                                        text-transform: uppercase;
                                        text-align: center;

                              }
                              h2{
                                        font-size: 1.8em;
                                        font-weight: 500;
                                        cursor: pointer;
                                        background-color: red;
                                        color: #ffffff;
                                        padding: 0px 14px 7px 14px;
                                        border-radius: 5px;
                                        
}
                    }
                    .modalForm{
                              display: flex;
                              justify-content: center;
                              flex-direction: column;
                             width: 90%;
                             margin: auto;
                              // justify-content: center;
                              // align-items: center;
                              padding: 20px;
                              .invalid{
                                   color: red;
                                   font-size: 20px;
                                   margin: 5px auto;
                              }
                              label{
                                        font-size: 1.4em;
                                        margin:7px 0;

                              }
                              input{
                                        padding:7px 4px;
                                        border: none;
                                        outline: none;
                                        background-color: transparent;
                                        font-size: 1.1em;
                                        border-bottom: 2px solid blueviolet;
                              }

                    }
                    .modalFooter{
                              display: flex;
                              justify-content: center;
                              padding: 15px;
                              button{
                                   background-color:blueviolet;
                                   padding: 8px 10px;
                                   color: white;
                                   font-size: 1.1em;
                                   outline: none;
                                   border: none;
                                   cursor: pointer;
                                   text-transform: capitalize;
                                   letter-spacing: 1px;

                                   border-radius:5px ;
                                   -webkit-border-radius:5px ;
                                   -moz-border-radius:5px ;
                                   -ms-border-radius:5px ;
                                   -o-border-radius:5px ;
}

          }
}}
@media only screen and (max-width: 767.98px){
  .modalContainer{
    .modalContent{
      width: 95%;
    }
  }
}
  