.contact_section {
  padding: 50px 0;
  background-color: #fa7806;
}

.contact_section .contact_container {
  width: 90%;
  margin: 0 auto;
}

.contact_section .contact_container h1 {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
}

.contact_section .contact_container form {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_section .contact_container form .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_section .contact_container form .name input {
  width: 50%;
}

.contact_section .contact_container form input {
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.63);
  background-color: transparent;
}

.contact_section .contact_container form input:focus {
  border-bottom: 2px solid white;
  outline: none;
}

.contact_section .contact_container form input::-webkit-input-placeholder {
  font-size: 18px;
  color: white;
  letter-spacing: 0.5px;
}

.contact_section .contact_container form input:-ms-input-placeholder {
  font-size: 18px;
  color: white;
  letter-spacing: 0.5px;
}

.contact_section .contact_container form input::-ms-input-placeholder {
  font-size: 18px;
  color: white;
  letter-spacing: 0.5px;
}

.contact_section .contact_container form input::placeholder {
  font-size: 18px;
  color: white;
  letter-spacing: 0.5px;
}

.contact_section .contact_container form textarea {
  margin: 0px 10px 10px 10px;
  padding: 10px;
  background-color: #fa7806;
  border-color: white;
  color: white;
  resize: none;
}

.contact_section .contact_container form textarea::-webkit-input-placeholder {
  font-size: 18px;
  margin: 20px;
  color: white;
}

.contact_section .contact_container form textarea:-ms-input-placeholder {
  font-size: 18px;
  margin: 20px;
  color: white;
}

.contact_section .contact_container form textarea::-ms-input-placeholder {
  font-size: 18px;
  margin: 20px;
  color: white;
}

.contact_section .contact_container form textarea::placeholder {
  font-size: 18px;
  margin: 20px;
  color: white;
}

.contact_section .contact_container form textarea:focus {
  outline: none;
  -webkit-box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.4), -4px -4px 5px rgba(255, 255, 255, 0.4);
          box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.4), -4px -4px 5px rgba(255, 255, 255, 0.4);
}

.contact_section .contact_container form .send_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  width: 30%;
  cursor: pointer;
  margin: 10px auto;
  color: #fa7806;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contact_section .contact_container form .send_button:hover {
  background-color: #f0f0f0;
}

@media only screen and (max-width: 299.98px) {
  .contact_section .contact_container {
    width: 100%;
  }
  .contact_section .contact_container form {
    width: 90%;
  }
  .contact_section .contact_container form .send_button {
    width: 45%;
    letter-spacing: 1px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 767.98px) {
  .contact_section .contact_container form {
    width: 100%;
  }
  .contact_section .contact_container form .name input {
    width: 100%;
  }
  .contact_section .contact_container .send_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bolder;
    width: 50%;
    cursor: pointer;
    margin: 10px auto;
    color: #fa7806;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .contact_section .contact_container .send_button:hover {
    background-color: #f0f0f0;
  }
}
/*# sourceMappingURL=contact.css.map */