
.testi_section{
          background-color: #D0AA61;
         padding: 50px 0;
          .testi_container{
                    width: 80%;
                    margin: 10px auto;
                    
                    h1{
                              text-align: center;
                              text-transform: uppercase;
                              letter-spacing: 2px;
                              font-size: 40px;
                              color: #fa7806;
                              margin: 20px 0;
                    }
                    .mySwiper{
                             
                              margin: 40px 0;
                              padding: 40px 0;
                             .myslide{
                                       background-color: white;
                                       padding: 50px 20px;
                                       p{
                                                 position: relative;
                                                 font-size: 20px;
                                                 letter-spacing: 1px;
                                       }
                                       .quote_icon_left, .quote_icon_right{
                                                color:#fa7806;
                                                opacity: 0.3;
                                                font-size: 30px;
                                                
                                       }
                                       .quote_icon_left{
                                      margin-right: 10px;
                                     
}
                                    .quote_icon_right{
                                              margin-left: 10px;
                                              position: absolute;
                                              bottom: -10px;
                                            
                                    }
                                    .quote_name{
                                              margin-top: 20px;
                                              font-size: 25px;
                                              letter-spacing: 1.5px;
                                              text-transform: capitalize;
                                              
                                    }
                             }
                    }

          }
}
