.member_wrapper {
  width: 90%;
  margin: 20px auto;
  .member_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.member_card {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  margin: 15px 10px;
  width: 300px;
  max-height: 100%;
  padding: 20px 10px;
  //   background-color: red;
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3 {
      text-align: center;
      text-transform: capitalize;
      padding: 10px 0;
      font-family: sans-serif;
      letter-spacing: 2px;
      // opacity: .7;
      color: rgb(185, 44, 44);
      font-weight: 600;
    }
    .id {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 10px 10px 10px;
      span:first-child {
        display: flex;
        justify-content: flex-start;
        opacity: 0.7;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      #id {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        font-weight: 600;
        color: red;
      }
    }
    .personal_info {
      .info_heading {
        font-size: 25px;
        font-weight: 600;
        text-transform: capitalize;
        opacity: 0.4;
        padding: 10px 10px;
        text-align: center;
      }
      .single_line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 10px;

        p:first-child {
          opacity: 0.7;
        }
      }
      .name {
        color: red;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  .imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border: 2px solid rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      padding: 2px;
      height: 150px;
      width: 150px;
      object-fit: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
@media only screen and (max-width: 767.98px) {
        .member_wrapper {
                .member_container{
                        .member_card{
                              
                                width: 98%;
                                margin:10px auto;
                                .imgcontainer{
                                        img{
                                                height: 120px;
                                                width: 120px;

                                        }
                                }
                                
                        }
                }
        }
}
