.memberSlider__section {
  width: 95%;
  margin: 20px auto;
  overflow: hidden;
}

.memberSlider__section .swiper-container {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 40px;
}

.memberSlider__section .swiper-container .swiper-slide img {
  max-width: none;
  max-height: none;
  position: static;
  top: auto;
  left: auto;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.memberSlider__section .header {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fa7806;
  font-size: 50px;
}

.memberSlider__section .memberSlider_card {
  background-color: white;
  -webkit-box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.4);
  width: auto;
  height: 100%;
  padding: 10px;
}

.memberSlider__section .memberSlider_card .imgcontainerSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.memberSlider__section .memberSlider_card .imgcontainerSlider .imgSlider {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 2px;
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.memberSlider__section .memberSlider_card .contentSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.memberSlider__section .memberSlider_card .contentSlider h3 {
  text-align: center;
  text-transform: capitalize;
  padding: 10px 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #b92c2c;
  font-weight: 600;
}

.memberSlider__section .memberSlider_card .contentSlider .id {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0  10px 10px 10px;
}

.memberSlider__section .memberSlider_card .contentSlider .id span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: .7;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.memberSlider__section .memberSlider_card .contentSlider .id #id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 20px;
  font-weight: 600;
  color: red;
}

.memberSlider__section .memberSlider_card .contentSlider .personal_info .info_heading {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  opacity: .4;
  padding: 10px 10px;
  text-align: center;
}

.memberSlider__section .memberSlider_card .contentSlider .personal_info .single_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 10px;
}

.memberSlider__section .memberSlider_card .contentSlider .personal_info .single_line p:first-child {
  opacity: .7;
}

.memberSlider__section .memberSlider_card .contentSlider .personal_info .name {
  color: red;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 767.98px) {
  .memberSlider__section {
    width: 90%;
  }
  .memberSlider__section .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .memberSlider__section .memberSlider_card {
    width: 95%;
  }
  .memberSlider__section .header {
    font-size: 30px;
  }
}
/*# sourceMappingURL=member.css.map */