.news_wrapper {
  width: 90%;
  margin: 20px auto;
}

.news_wrapper .news_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_wrapper .news_container .content {
  padding: 10px;
}

.news_wrapper .news_container .content h3 {
  text-align: center;
  color: #FA7806;
  font-size: 20px;
  letter-spacing: 1px;
}

.news_wrapper .news_container .content .byOrdate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.news_wrapper .news_container .content .byOrdate #by {
  opacity: .5;
  padding-right: 5px;
}

.news_wrapper .news_container .content .byOrdate #writer {
  font-style: italic;
}

.news_wrapper .news_container .content .byOrdate .time {
  opacity: 0.6;
  font-weight: 500;
}

.news_wrapper .news_container .content .main_news {
  font-style: normal;
  opacity: 0.8;
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: 600;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.news_wrapper .news_container .content .main_news .morenews {
  text-decoration: none;
  margin-left: 8px;
  font-size: 20px;
}

.news_card {
  background-color: white;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  margin: 15px 10px;
  width: 350px;
  height: 100%;
}

.img_container {
  height: 150px;
  width: 100%;
}

.img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loader_container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader_container .loader_wrap {
  margin: 50px auto;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.loader_container .loader_wrap .loader {
  margin: 5px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid #fa7806;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.loader_container .loader_wrap h3 {
  color: #fa7806;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767.98px) {
  .news_wrapper {
    width: 98%;
  }
  .news_card {
    width: 320px;
  }
}
/*# sourceMappingURL=allnews.css.map */