
@media only screen and (max-width: 299.98px){
  
  
  .navBottomContainer{
            .navBottomItem ul{
                      .textLink1{
                              padding:0 0 !important;
                      }
                      .textLink,.textLink1{
                                font-size: 10px;
                                padding: 0 5px;
                                letter-spacing:0;
                                span{
                                          font-size: 20px;
                                          font-weight: 800;
                                }
                              
                               
                      
                      }
                     
  
            }
  }

  .contact_section{
    .contact_container{
    width: 100%;
    form{
              width: 90%;
              .send_button{
                        width: 45%;
                        letter-spacing: 1px ;
                        font-size: 30px;
}
    }
}
}

}

@media only screen and (max-width: 575.98px) {

}
@media only screen and (max-width: 767.98px){
  $primary_color: #fa7806;
  $secondar_color: #77bb4d;
  .active {
    border: 2px solid $primary_color;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  }
  .navBottomContainer{
    display: flex;
  }
  .navContainer {
    margin-top: 10px;
    background-color: none;
    //     box-shadow: none;
    padding: 5px 20px;
    display: block;

    //     box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(0, 0, 0, 0.3);

    .left_side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .brandName {
        margin-left: 0px;
        font-size: 25px;
        h3 {
          // color: #77bb4d;
          color: $primary_color;
        }
      }
      .logo_container {
        height: 130px;
        width: 130px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .navItem ul {
      display: none;
    }
  }
.modalContainer{
  .modalContent{
    width: 95%;
  }
}
  .carousel {
    height: 60vh;
    //   width: 95%;
  }
  $primary_color: #fa7806;
  $background: #d0aa61;
  $themeColor: black !important;

  .news__section {
    position: relative;
    width: 90%;
    margin: 50px auto;
    // position: relative;
    .header {
      text-align: center;
      margin-bottom: 10px;
      color: $primary_color;
      font-size: 50px;
    }
    .mySwiper {
      //     background-color: red;
      padding: 0px 0;
      // height: 300px;
      background-color: transparent;
      position: relative;
      .myslide {
        height: 100%;
        padding: 0 0 15px 0;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: none;
        //       box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
        //       box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

        .img_container_news {
          height: 250px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .content_container {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 10px;
          .news_header {
            .title {
              display: flex;
              justify-content: center;
              font-size: 20px;
              text-transform: capitalize;
            }
            .time {
              font-size: 17px;
              font-style: italic;
              display: flex;
              padding: 7px;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
  .news_wrapper{
    width: 98%;
  }
  .news_card{
    width: 320px;
  }
  .achieve_section {
    .achievement_1,
    .achievement_2,
    .achievement_3,
    .achievement_4 {
      flex-direction: column;

      .img_container {
        width: 98%;
        margin: auto;
        img {
          padding: 5px;
        }
      }
      .content_container {
        margin: 0 10px;
        h1 {
          margin: 10px auto;
          letter-spacing: 1px;
          font-size: 30px;
        }
        p {
          width: 90%;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
    .achievement_2 {
      display: flex;
      flex-direction: column-reverse;
 
     
    }
    .achievement_4 {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .donation_container{
        padding: 40px 30px 20px 30px;
        .content{
                
              .donate_link{
                       
                        padding: 15px;
                        font-size: 20px;
                        letter-spacing: 1px;
}
        }
}
  .news__section{
          margin: 20px auto;
          .header{
                  font-size: 30px;
                  margin-bottom: 10px;
          }
  }
.testi_section{
        background-color: #D0AA61;
       padding: 30px 0;
        .testi_container{
                  width: 98%;
                  margin: 10px auto;
                  
                  h1{
                            text-align: center;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-size: 35px;
                            color: #fa7806;
                            margin: 20px 0;
                  }
                  .mySwiper{
                           
                            margin: 40px 0;
                            padding: 0 0;
                           .myslide{
                                     background-color: white;
                                     padding: 50px 30px;
                                     text-align: center;
                                     p{
                                               position: relative;
                                               font-size: 20px;
                                               letter-spacing: 1px;
                                     }
                                     .quote_icon_left, .quote_icon_right{
                                              color:#fa7806;
                                              opacity: 0.3;
                                              font-size: 60px;
                                              
                                     }
                                     .quote_icon_left{
                                    margin-right: 10px;
                                   
}
                                  .quote_icon_right{
                                            margin-left: 10px;
                                            position: absolute;
                                            bottom: -30px;
                                          
                                  }
                                  .quote_name{
                                            margin-top: 20px;
                                            font-size: 25px;
                                            letter-spacing: 1.5px;
                                            text-transform: capitalize;
                                            
                                  }
                           }
                  }

        }
}

  .contact_section {
    .contact_container {
      form {
        width: 100%;

        .name {
          input {
            width: 100%;
          }
        }
      }
      .send_button {
        display: flex;
        justify-content: center;
        font-weight: bolder;
        width: 50%;
        cursor: pointer;
        margin: 10px auto;
        color: $primary_color;
        background-color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover {
          background-color: rgb(240, 240, 240);
        }
      }
    }
  }
  $primary_color:#fa7806;

  .footer_section{
            background-color: #333333;
            padding: 50px 20px 20px 20px;
          
            .footer_container{
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      align-items: center;
                      .navItem{
                               
                                ul{
                                          list-style-type: none;
                                          display: flex;
                                          align-items: center;
                                          justify-content: center;
                                         flex-wrap: wrap;
                                         margin: 20px auto;
                                        //  padding: 10px auto;
                                          li{
                                                  margin: 15px 0;
                                          }
                                          .textLink{
                                                    text-decoration: none;
                                                 
                                                    font-size: 18px;
                                                    letter-spacing: 0.5 px;
                                                    background-color:rgba(255,255,255,0.2);
                                                    padding: 6px 10px;
                                                    font-weight: 500;
                                                    color: $primary_color;
                                                    text-transform: uppercase;
                                                    cursor: pointer;
                                          }
                                }
                      }
                      .social_container{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin: 30px 0;
                                // justify-content: center;
                                .title{
                                          font-size: 25px;
                                          letter-spacing: 2px;
                                          color:#fa7806;
                                }
                                .icon_container{
                                          margin-top: 20px;
                                          .icon_style{
                                                    font-size: 30px;
                                                    color: white;
                                                    margin: 0 20px;
                                                    cursor: pointer;
                                          }
                                         
                                          
                                }
                      }
            }
            .footer_container{
                    .map_container{
                            iframe{
                                    width: 90vw;
                                    height: 40vh;
                            }
                    }
            }
        
            .copyright_container{
                      display: flex;
                      flex-direction: column;
                      justify-content:space-between;
                      margin-top: 20px;
                      margin-bottom: 90px;
            .copyright{
                     
                      color: rgba(255, 255, 255, 0.4);
                      font-size: 15px;
                      margin-bottom: 10px;
            }
                   .designed{
                             display: flex;
                             justify-content:flex-end;
                             color: white;
                             opacity: 0.5;
                             h3{
                                       font-weight: normal;
                                       span{
                                                 font-weight: 500;
                                                 text-transform: uppercase;
                                                 letter-spacing: 1.5px;
                                                 
                                       }
                             }
                   }
                 
            }
            
  }
  .newsdetail_container{
    width: 95%;
    border-top-left-radius: 5px;
          border-top-right-radius: 5px;
    .imgWrapper{
      height: 300px;
      img{
        border-top-left-radius: 5px;
          border-top-right-radius: 5px;
      }
    }
  }
//   Dashboard/Admin

 
.admin_section{
         
        .admin_home_container{
                 
                  .nav_container{
                          
                            display: flex;
                            justify-content: center;
                            

                            .nav{
                                    width: 98%;
                                      margin: 20px auto;
                                      
                                       ul{
                                                 list-style-type: none;
                                                 display: flex;
                                                //  flex-direction: column;
                                                flex-wrap:wrap ;
                                                   align-items: center;
                                                   justify-content: center;
                                               li{
                                                       margin: 10px auto;
                                               }
                                                
                                       }
                                       .navlink{
                                                  text-decoration: none;
                                                  color: white;
                                                  background-color: #fa7806;
                                                  font-size: 20px;
                                                  margin: 0 0;
                                                  padding: 5px 7px;
                                                border: 2px solid #fcd3af;
                                                &:hover{
                                                         background-color: #bd5b06;
}
                                                
}
                             }
                  }
                  .card_container{
                       
                            margin: 20px auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                  }
                 
                  
        }
}
// for card in admin
.card_wrapper{
       
        width:80%;
      
       
        .icon{
                  font-size: 100px;
                
        }
        h1{
                  font-size: 30px;
        }
        p{
                  font-size: 25px;
                 
        }
}
// admin/addmember

 

.admin_container{
        width: 95%;
        margin: 20px auto;
       
        form{
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                 
                  
                  label{
                            font-size: 17px;
                            letter-spacing: 1px;
                            margin:8px 0 0 5px;
                            font-weight: 500;
                  }
                 
                  
                  .age_gender{
                            display: flex;
                            // justify-content: center;
                            align-items: center;
                            .age{
                                      input{
                                                width: 60%;
                                                
                                      }

                            }
                            .gender{
                                      
                                      input{
                                                font-size: 20px;
                                      }
                                      
                                      
                                    
                            }
                  }
                
                 
        }
}
// for admin/addnews
.addnews_section{
        width: 97%;
        margin: 20px auto;
        .addnews_container{
                  width: 100%;
                  
                
                  label{
                            font-size: 22px;
                            margin: 15px 0;
                           display: flex;
                           justify-content: center;
                           letter-spacing: 1px;

                  }
                  input{
                            font-size: 18px;
                            padding: 7px 10px;
                  }
                  .addnews_heading{
                            width: 80%;
                            display: flex;
                            flex-direction: column;
                            ::placeholder{
                                      
                                      letter-spacing: 2px;
                                     
                            }
                            input{
                                      border: none;
                                      border: 2px solid #fa7806be;
                                      border-radius: 10px;
                                      &:focus                                        
                                      {
                                                outline: none;
                                                box-shadow: 1px 1px 5px #fa780683, -1px -1px 5px #fa780683;
                                                
                                      }
                                      

                            }
                  }
                  .addnews_image_container{
                            display: flex;
                            flex-direction: column;
                           label{
                                     font-weight: 500;
                                     color: #fa7806;
                           }
                           
                            
                  }
                  
                  }
        }
        .addslider_section{
                width: 97%;
                .addslider_container{
                        width: 100%;
                }
        }
        .addtestimonial_section{
                width: 97%;
                .addtestimonial_container{
                        width: 100%;
                        input,textarea{
                                width: 95%;
                        }
                        h1{
                                letter-spacing: 1px;
                        }
                }
        }
}


@media (max-width: 991.98px) {
  .navContainer{
    padding: 5px 10px;
    .left_side{
      .brandName{
        font-size: 20px;
        margin-left: 10px;
      }
    }
    .navItem ul{
      .textLink{
       padding: 0 5px;
      }
    }
  }
  .footer_section{
    .footer_container{

      .navItem{
        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          li{
            margin: 10px 0;
          }
        }
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
