@media only screen and (max-width: 575.98px) {
  .active {
    border: 2px solid #fa7806;
    border-radius: 7px;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  }
  .navBottomContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navContainer {
    margin-top: 10px;
    background-color: none;
    padding: 5px 20px;
    display: block;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(0, 0, 0, 0.3);
  }
  .navContainer .left_side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navContainer .left_side .brandName {
    margin-left: 0px;
    font-size: 25px;
  }
  .navContainer .left_side .brandName h3 {
    color: #fa7806;
  }
  .navContainer .left_side .logo_container {
    height: 130px;
    width: 130px;
  }
  .navContainer .left_side .logo_container img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navContainer .navItem ul {
    display: none;
  }
  .carousel {
    height: 60vh;
  }
  .news__section {
    position: relative;
    width: 90%;
    margin: 50px auto;
  }
  .news__section .header {
    text-align: center;
    margin-bottom: 10px;
    color: #fa7806;
    font-size: 50px;
  }
  .news__section .mySwiper {
    padding: 0px 0;
    background-color: transparent;
    position: relative;
  }
  .news__section .mySwiper .myslide {
    height: 100%;
    padding: 0 0 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .news__section .mySwiper .myslide .img_container_news {
    height: 250px;
  }
  .news__section .mySwiper .myslide img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news__section .mySwiper .myslide .content_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .news__section .mySwiper .myslide .content_container .news_header .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    text-transform: capitalize;
  }
  .news__section .mySwiper .myslide .content_container .news_header .time {
    font-size: 17px;
    font-style: italic;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 7px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .achieve_section .achievement_1,
  .achieve_section .achievement_2,
  .achieve_section .achievement_3,
  .achieve_section .achievement_4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .achieve_section .achievement_1 .img_container,
  .achieve_section .achievement_2 .img_container,
  .achieve_section .achievement_3 .img_container,
  .achieve_section .achievement_4 .img_container {
    width: 98%;
    margin: auto;
  }
  .achieve_section .achievement_1 .img_container img,
  .achieve_section .achievement_2 .img_container img,
  .achieve_section .achievement_3 .img_container img,
  .achieve_section .achievement_4 .img_container img {
    padding: 5px;
  }
  .achieve_section .achievement_1 .content_container,
  .achieve_section .achievement_2 .content_container,
  .achieve_section .achievement_3 .content_container,
  .achieve_section .achievement_4 .content_container {
    margin: 0 10px;
  }
  .achieve_section .achievement_1 .content_container h1,
  .achieve_section .achievement_2 .content_container h1,
  .achieve_section .achievement_3 .content_container h1,
  .achieve_section .achievement_4 .content_container h1 {
    margin: 10px auto;
    letter-spacing: 1px;
    font-size: 30px;
  }
  .achieve_section .achievement_1 .content_container p,
  .achieve_section .achievement_2 .content_container p,
  .achieve_section .achievement_3 .content_container p,
  .achieve_section .achievement_4 .content_container p {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .achieve_section .achievement_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .achieve_section .achievement_4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .donation_container {
    padding: 40px 30px 20px 30px;
  }
  .donation_container .content .donate_link {
    padding: 15px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .news__section {
    margin: 20px auto;
  }
  .news__section .header {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .testi_section {
    background-color: #D0AA61;
    padding: 30px 0;
  }
  .testi_section .testi_container {
    width: 98%;
    margin: 10px auto;
  }
  .testi_section .testi_container h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    color: #fa7806;
    margin: 20px 0;
  }
  .testi_section .testi_container .mySwiper {
    margin: 40px 0;
    padding: 0 0;
  }
  .testi_section .testi_container .mySwiper .myslide {
    background-color: white;
    padding: 50px 30px;
    text-align: center;
  }
  .testi_section .testi_container .mySwiper .myslide p {
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .testi_section .testi_container .mySwiper .myslide .quote_icon_left, .testi_section .testi_container .mySwiper .myslide .quote_icon_right {
    color: #fa7806;
    opacity: 0.3;
    font-size: 60px;
  }
  .testi_section .testi_container .mySwiper .myslide .quote_icon_left {
    margin-right: 10px;
  }
  .testi_section .testi_container .mySwiper .myslide .quote_icon_right {
    margin-left: 10px;
    position: absolute;
    bottom: -30px;
  }
  .testi_section .testi_container .mySwiper .myslide .quote_name {
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
  }
  .contact_section .contact_container form {
    width: 100%;
  }
  .contact_section .contact_container form .name input {
    width: 100%;
  }
  .contact_section .contact_container .send_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bolder;
    width: 50%;
    cursor: pointer;
    margin: 10px auto;
    color: #fa7806;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .contact_section .contact_container .send_button:hover {
    background-color: #f0f0f0;
  }
  .footer_section {
    background-color: #333333;
    padding: 50px 20px 20px 20px;
  }
  .footer_section .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_section .footer_container .navItem ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px auto;
  }
  .footer_section .footer_container .navItem ul li {
    margin: 15px 0;
  }
  .footer_section .footer_container .navItem ul .textLink {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5 px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px 10px;
    font-weight: 500;
    color: #fa7806;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer_section .footer_container .social_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
  }
  .footer_section .footer_container .social_container .title {
    font-size: 25px;
    letter-spacing: 2px;
    color: #fa7806;
  }
  .footer_section .footer_container .social_container .icon_container {
    margin-top: 20px;
  }
  .footer_section .footer_container .social_container .icon_container .icon_style {
    font-size: 30px;
    color: white;
    margin: 0 20px;
    cursor: pointer;
  }
  .footer_section .footer_container .map_container iframe {
    width: 90vw;
    height: 40vh;
  }
  .footer_section .copyright_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 90px;
  }
  .footer_section .copyright_container .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    margin-bottom: 10px;
  }
  .footer_section .copyright_container .designed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: white;
    opacity: 0.5;
  }
  .footer_section .copyright_container .designed h3 {
    font-weight: normal;
  }
  .footer_section .copyright_container .designed h3 span {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .admin_section .admin_home_container .nav_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .admin_section .admin_home_container .nav_container .nav {
    width: 98%;
    margin: 20px auto;
  }
  .admin_section .admin_home_container .nav_container .nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .admin_section .admin_home_container .nav_container .nav ul li {
    margin: 10px auto;
  }
  .admin_section .admin_home_container .nav_container .nav .navlink {
    text-decoration: none;
    color: white;
    background-color: #fa7806;
    font-size: 20px;
    margin: 0 0;
    padding: 5px 7px;
    border: 2px solid #fcd3af;
  }
  .admin_section .admin_home_container .nav_container .nav .navlink:hover {
    background-color: #bd5b06;
  }
  .admin_section .admin_home_container .card_container {
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card_wrapper {
    width: 80%;
  }
  .card_wrapper .icon {
    font-size: 100px;
  }
  .card_wrapper h1 {
    font-size: 30px;
  }
  .card_wrapper p {
    font-size: 25px;
  }
  .admin_container {
    width: 95%;
    margin: 20px auto;
  }
  .admin_container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .admin_container form label {
    font-size: 17px;
    letter-spacing: 1px;
    margin: 8px 0 0 5px;
    font-weight: 500;
  }
  .admin_container form .age_gender {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .admin_container form .age_gender .age input {
    width: 60%;
  }
  .admin_container form .age_gender .gender input {
    font-size: 20px;
  }
  .addnews_section {
    width: 97%;
    margin: 20px auto;
  }
  .addnews_section .addnews_container {
    width: 100%;
  }
  .addnews_section .addnews_container label {
    font-size: 22px;
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 1px;
  }
  .addnews_section .addnews_container input {
    font-size: 18px;
    padding: 7px 10px;
  }
  .addnews_section .addnews_container .addnews_heading {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addnews_section .addnews_container .addnews_heading ::-webkit-input-placeholder {
    letter-spacing: 2px;
  }
  .addnews_section .addnews_container .addnews_heading :-ms-input-placeholder {
    letter-spacing: 2px;
  }
  .addnews_section .addnews_container .addnews_heading ::-ms-input-placeholder {
    letter-spacing: 2px;
  }
  .addnews_section .addnews_container .addnews_heading ::placeholder {
    letter-spacing: 2px;
  }
  .addnews_section .addnews_container .addnews_heading input {
    border: none;
    border: 2px solid #fa7806be;
    border-radius: 10px;
  }
  .addnews_section .addnews_container .addnews_heading input:focus {
    outline: none;
    -webkit-box-shadow: 1px 1px 5px #fa780683, -1px -1px 5px #fa780683;
            box-shadow: 1px 1px 5px #fa780683, -1px -1px 5px #fa780683;
  }
  .addnews_section .addnews_container .addnews_image_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addnews_section .addnews_container .addnews_image_container label {
    font-weight: 500;
    color: #fa7806;
  }
  .addslider_section {
    width: 97%;
  }
  .addslider_section .addslider_container {
    width: 100%;
  }
  .addtestimonial_section {
    width: 97%;
  }
  .addtestimonial_section .addtestimonial_container {
    width: 100%;
  }
  .addtestimonial_section .addtestimonial_container input, .addtestimonial_section .addtestimonial_container textarea {
    width: 95%;
  }
  .addtestimonial_section .addtestimonial_container h1 {
    letter-spacing: 1px;
  }
}
/*# sourceMappingURL=responsive.css.map */